<div class="party-select-container">
  <nz-avatar class="self-icon" [nzSize]="64"
      nzSrc="{{jobConsts.JOBS.get(selfJob)!.path}}" (click)="changeSelf()">
  </nz-avatar>
  <nz-avatar class="party-member-icon" *ngFor="let member of party; index as i;"
      [nzSize]="64" nzSrc="{{jobConsts.JOBS.get(member)!.path}}"
      (click)="changeParty(i)">
  </nz-avatar>
</div>
<div class="buffs-container">
  <img class="buff-icon" *ngFor="let buff of jobConsts.JOBS.get(selfJob)!.buffs;"
      src="{{buffs.get(buff)!.path}}"/>
  <ng-container *ngFor="let member of party;">
    <img class="buff-icon"
	    *ngFor="let buff of jobConsts.JOBS.get(member)!.buffs;"
		src="{{buffs.get(buff)!.path}}"/>
  </ng-container>
</div>
<nz-modal #jobPickerModal [(nzVisible)]="jobPickerVisible" [nzFooter]="null"
    (nzOnCancel)="closeJobPicker()">
  <ng-container *nzModalContent>
  	<div class="role-container">
  	  <div class="role-name">Tank</div>
  	  <nz-avatar class="party-member-icon"
          *ngFor="let job of jobConsts.TANK_JOBS;"
	      [nzSize]="64" nzSrc="{{job.path}}" (click)="pickJob(job.name)">
	  </nz-avatar>
  	</div>
  	<div class="role-container">
  	  <div class="role-name">Healer</div>
  	  <nz-avatar class="party-member-icon"
          *ngFor="let job of jobConsts.HEALER_JOBS;"
	      [nzSize]="64" nzSrc="{{job.path}}" (click)="pickJob(job.name)">
	  </nz-avatar>
  	</div>
  	<div class="role-container">
  	  <div class="role-name">Melee</div>
  	  <nz-avatar class="party-member-icon"
          *ngFor="let job of jobConsts.MELEE_JOBS;"
	      [nzSize]="64" nzSrc="{{job.path}}" (click)="pickJob(job.name)">
	  </nz-avatar>
  	</div>
  	<div class="role-container">
  	  <div class="role-name">Ranged</div>
  	  <nz-avatar class="party-member-icon"
          *ngFor="let job of jobConsts.RANGED_JOBS;"
	      [nzSize]="64" nzSrc="{{job.path}}" (click)="pickJob(job.name)">
	  </nz-avatar>
  	</div>
  	<div class="role-container">
  	  <div class="role-name">Caster</div>
  	  <nz-avatar class="party-member-icon"
          *ngFor="let job of jobConsts.CASTER_JOBS;"
	      [nzSize]="64" nzSrc="{{job.path}}" (click)="pickJob(job.name)">
	  </nz-avatar>
  	</div>
  </ng-container>
</nz-modal>
