.party-select-container {
	margin: 12px 24px;
	display: flex;
	justify-content: center;
}

.self-icon {
	margin-right: 48px;
	cursor: pointer;
}

.party-member-icon {
	margin-right: 8px;
	cursor: pointer;
}

.buffs-container {
	margin: 12px 24px;
	display: flex;
	justify-content: center;
}

.buff-icon {
	margin-right: 8px;
}

.role-container {
	padding-top: 8px;
}

.role-container:last-child {
	padding-bottom: 8px;
}

.role-name {
	font-weight: bold;
}
