<div class="party-select-container">
	<nz-avatar class="self-icon" [nzSize]="64"
	    nzSrc="{{jobs.get(selfJob)!.path}}" (click)="changeSelf()">
	</nz-avatar>
	<nz-avatar class="party-member-icon" *ngFor="let member of party; index as i;"
	    [nzSize]="64" nzSrc="{{jobs.get(member)!.path}}" (click)="changeParty(i)">
	</nz-avatar>
</div>
<div class="buffs-container">
	<img class="buff-icon" src="./assets/chainstratagem.png"/>
	<img class="buff-icon" src="./assets/divination.png"/>
	<img class="buff-icon" src="./assets/battlelitany.png"/>
	<img class="buff-icon" src="./assets/brotherhood.png"/>
</div>
<nz-modal #jobPickerModal [(nzVisible)]="jobPickerVisible" [nzFooter]="null"
          (nzOnCancel)="closeJobPicker()">
  <ng-container *nzModalContent>
    <nz-avatar class="party-member-icon" *ngFor="let job of jobs.values();"
	    [nzSize]="64" nzSrc="{{job.path}}" (click)="pickJob(job.name)">
	</nz-avatar>
  </ng-container>
</nz-modal>
