<nz-table #basicTable class="gearset-table" [nzData]="dataSet" nzShowPagination=false>
  <thead>
    <tr>
      <th rowspan="2">Set name</th>
      <th colspan="7">Stats</th>
      <th rowspan="2">GCD</th>
      <th rowspan="2">MP/min</th>
      <th rowspan="2">DPS</th>
      <th rowspan="2">Action</th>
    </tr>
    <tr>
      <th>WD</th>
      <th>MND</th>
      <th>DH</th>
      <th>Crit</th>
      <th>Det</th>
      <th>SpS</th>
      <th>Pie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <td>{{data.name}}</td>
        <td class="num-col">{{data.weaponDamage}}</td>
        <td class="num-col">{{data.mainStat}}</td>
        <td class="num-col">{{data.dh}}</td>
  	    <td class="num-col">{{data.crit}}</td>
  	    <td class="num-col">{{data.det}}</td>
	    <td class="num-col">{{data.speed}}</td>
        <td class="num-col">{{data.pie}}</td>
        <td class="num-col">{{data.gcd}}</td>
        <td class="num-col">{{data.mp}}</td>
        <td class="num-col">{{data.dps}}</td>
        <td class="action-col">
        	<a (click)="startEdit(data.id)">Edit</a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <input type="text" nz-input
        	  [(ngModel)]="editCache[data.id].data.name" />
        </td>
        <td class="num-col">
          <input type="number" nz-input
              [(ngModel)]="editCache[data.id].data.weaponDamage" />
        </td>
        <td class="num-col">
          <input type="number" nz-input
              [(ngModel)]="editCache[data.id].data.mainStat" />
        </td>
        <td class="num-col">
          <input type="number" nz-input
              [(ngModel)]="editCache[data.id].data.dh" />
        </td>
        <td class="num-col">
          <input type="number" nz-input
              [(ngModel)]="editCache[data.id].data.crit" />
        </td>
        <td class="num-col">
          <input type="number" nz-input
              [(ngModel)]="editCache[data.id].data.det" />
        </td>
        <td class="num-col">
          <input type="number" nz-input
              [(ngModel)]="editCache[data.id].data.speed" />
        </td>
        <td class="num-col">
          <input type="number" nz-input
              [(ngModel)]="editCache[data.id].data.pie" />
        </td>
        <td class="num-col">
          <input type="number" nz-input
              [(ngModel)]="editCache[data.id].data.gcd" />
        </td>
        <td class="num-col">{{editCache[data.id].data.mp}}
        </td>
        <td class="num-col">{{editCache[data.id].data.dps}}</td>
        <td class="action-col">
          <a (click)="saveEdit(data.id)" class="save">Save</a>
          <br>
          <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?"
              (nzOnConfirm)="cancelEdit(data.id)">
            Cancel
          </a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>
