.gearset-table {
	margin-left: 48px;
	margin-right: 48px;
}

.gearset-table th {
	padding-top: 8px;
	padding-bottom: 8px;
}

.num-col {
	min-width: 100px;
	width: 7%;
}

.action-col {
	width: 100px;
}
