.gearset-table {
	margin-left: 48px;
	margin-right: 48px;
}

@media only screen and (max-width: 1280px) {
	.gearset-table {
		overflow: scroll;
	}
}

.ant-table-row {
	background: #141414;
}

.gearset-table th {
	padding-top: 8px;
	padding-bottom: 8px;
}

.name-col {
	min-width: 200px;
}

.num-col {
	min-width: 100px;
	width: 7%;
}

.action-col {
	width: 100px;
}

.name-edit-input {
	margin-bottom: 8px;
}

.gearset-table-button {
	background: inherit;
	border: none;
}

.gearset-table-button.save {
	margin-bottom: 24px;
}
